@{
    ViewBag.Title = "Team Explorer";
}
@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}
<h2>@ViewBag.Title</h2>

<div class="list-group">
    @foreach (var team in ViewBag.Teams)
    {
        <a href="/Team/Show/@team.TeamId" class="list-group-item">
            <h4 class="mb-1">@team.Name</h4>
        </a>
    }
</div>

<a href="/Team/New" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Team</a>
<br />