@model TotallyNotJira.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

<div class="panel-heading">User Name: @Model.UserName</div>

<div class="panel-body">

    <i class="glyphicon glyphicon-envelope"></i> Email: <span class="label label-default">@Model.Email</span>
    <br />
    <i class="glyphicon glyphicon-th-list"></i> User Role: @ViewBag.roleName

    <br /><br />


</div>

<a class="btn btn-sm" href="/Users/Index">Back to the list</a>
